/************ Base Styles ***********/
* {
    box-sizing: border-box;
    align-items: center;
    position: relative;
}

p {
    color: black;
    width: 50%;
    border: 1px solid black;
    float: left;
    padding: 10px;
}

div #p5, div #p6 {
    height: auto;
    width: calc(50% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: teal;
}

body {
    margin: 0;
    padding: 0;
    background-color: pink;
    text-align: center;
}

h1 {
    color: green;
    font-size: 36px;
    text-align: center;
}

h2 {
    color: pink;
    font-size: 32px;
    text-align: center;
}

h3 {
    color: darkcyan;
    font-size: 28px;
    text-align: center;
}

h4 {
    color: orange;
    font-size: 24px;
    text-align: center;
}

h5 {
    color: brown;
    font-size: 20px;
    text-align: center;
}

div, .blue {
    color: blue;
    font-size: 18px;
}

li {
    text-align: center;
    list-style-position: inside;
}

ol {
    text-align: center;
}

.exampleClass {
    color: purple;

}

.highlight, .highlight li {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    background-color: greenyellow;
    opacity: .6;
    text-align: left;
    list-style: inside;
}

#idSelector {
    color: black;
    background-color: red;
    font-size: 24px;
    opacity: .7;
}

#top {
    color: gold;
}

#top.exampleClass {
    background-color: blueviolet;
    font-style: italic;
}

#box {
    background-color: blue;
    padding: 10px;
    border: 5px solid black;
    margin-top: 20px;
    width: 300px;
    height: 100px;
    overflow: auto;
}

#content {
    background-color: burlywood;
}

#bg {
    width: calc(1536px * 36px);
    height: 1536px;
    background: url("../Images/godzilla.png") no-repeat center blue;
    background-size: auto;
    position: relative;
}

#p1,#p2,#p3,#p4 {
    padding: 10px;
}

#p1 {
    background-color: aliceblue;
    width: 100px;
    height: 100px;
}

#p2 {
    background-color: yellow;
    width: 50px;
    height: 50px;
}

#p3 {
    background-color: darkorange;
    width: 50px;
    height: 50px;
}

#p4 {
    background-color: cornflowerblue;
    width: 50px;
    height: 50px;
}

article p {
    color: sandybrown;
}

article > h5 {
    color: silver;
    font-style: italic;
}

.highlight li {
    color: darkred;
}

section {
    clear: left;
}

section ul.pseudoClass > li {
    color: chartreuse;
    list-style: none;
    font-size: 30px;
}

section ul.pseudoClass > li a:link, a:visited {
    text-decoration: none;
    background-color: lightblue;
    border: 1px solid blue;
    color: black;
    display: block;
    width:200px;
    text-align: center;
    margin-bottom: 1px;
    cursor: crosshair;
}

section ul.pseudoClass > li a:hover, a:active {
    background-color: red;
    color: purple;
}

section ul.pseudoClass > li:nth-child(3) a:hover, a:active {
    background-color: greenyellow;
    color: silver;
}

section ul.pseudoClass > li:nth-child(even) a:hover, a:active {
    background-color: grey;
    color: black;
}

/************ Base Styles ***********/

/************ Large Devices Only ***********/
@media (min-width: 1200px) {
    #p1 {
        width: 80%;
    }
    #p2 {
        width: 150px;
        height: 150px;
    }
}
/************ Large Devices Only ***********/

/************ Medium Devices Only ***********/
@media (min-width: 992px) and (max-width: 1199px) {
    #p1 {
        width: 50%;
    }
    #p2 {
        width: 100px;
        height: 100px;
    }
}
/************ Medium Devices Only ***********/